body
    background-color #333333


.containerRunner
    position relative
    margin 800px auto
    border 1px solid #F5F5F5
    width 800px
    height 400px
    background url('/assets/img/fon.png') repeat-x
    background-size cover
    border-radius 3px
    &__score
        color white
