body
    background-color #333333


.containerRunner
    position relative
    margin 40px auto
    border 1px solid #F5F5F5
    width 800px
    height 400px
    background url('/assets/img/fon.png') repeat-x
    background-position-y 100%
    border-radius 3px
    &__score
        position absolute
        top 10px
        left 10px
        color white
