body
    background-color #333333


.containerRunner
    width 800px
    height 400px
    margin 40px auto
    border 1px solid #F5F5F5
    border-radius 3px
    background url('/assets/img/fon.png') no-repeat
    background-size cover